.top{
    min-width: 1200px;
    height: 36px;
    line-height: 36px;
    background-color: #2e2828;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    position: relative;
    z-index: 411; 
}
.top  .layout{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
   
}
/*头部左边的样式*/
.layout_l{
    width: 542px;
    height: 100%;
  
    float: left;
}
.layout_l li{
    float: left;
    padding: 0 8px;
    position: relative;
    font-size: 12px;
}
.layout_l li a{
    color: #777;
}
.layout_l li:first-child{
    padding-left: 0;
}
.layout_l li:before{
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
    background: #414141;
}
.layout_l li:last-child .glyphicon{
    font-size: 6px;
    color: #ccc;
}
.layout_l li:last-child .nav{
    width: 125px;
    height: 160px;
    background-color: #fff;
    position: absolute;
    top: 36;
    left: -42px;
    border-radius: 8px 0 8px 8px;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
    display: none;
}
.nav .nav_dt{
    padding: 6px 0 12px 0;
    text-align: center;
    line-height: 20px;
    color: #777;
    
}
.nav .nav_dt:hover{
    color: red;
}
.layout_l li:last-child:hover a{
    color: red;
}
.layout_l li a:hover{
    color: #fff;
}
.layout_l li:last-child:hover .glyphicon{
    transform: rotateZ(180deg)
}
.layout_l li:last-child:hover{
    background-color: #fff;
}
.layout_l li:last-child:hover .nav{
    display: block;
}

/*头部右边的样式*/

.layout_r{
    width: 481px;
    height: 100%;
   
    float: right;
}
.layout_r li{
    float: left;
    padding: 0 8px;
    position: relative;
    font-size: 12px;
}
.layout_r li a{
    color: #777;
}
.layout_r li:first-child{
    padding-left: 0;
}
.layout_r li:before{
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
    background: #414141;
}

.layout_r li:nth-child(4) .glyphicon,
.layout_r li:nth-child(5) .glyphicon,
.layout_r li:nth-child(6) .glyphicon{
    font-size: 6px;
    color: #ccc;
}
.layout_r li:nth-child(3){
    position: relative;
}
.layout_r li:nth-child(4) .clientele{
    width: 87px;
    height: 90px;
    background-color: #fff;
    border-radius: 8px 0 8px 8px;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
    position: absolute;
    top: 36px;
    left: -2px;
    display: none;
}
.clientele dt{
    padding: 14px 0 0px 0;
    text-align: center;
    line-height: 20px;
   
}
.clientele dt a{
    color: #777;
}
.layout_r li:nth-child(4):hover{
    background-color: #fff;
}
.layout_r li:nth-child(4) a:hover{
    color: red;
}
.layout_r li:nth-child(4):hover .glyphicon{
    transform: rotateZ(180deg);
}
.layout_r li:nth-child(4):hover .clientele{
    display: block;
}
.layout_r li:nth-child(5) .navigation{
    width: 900px;
    height: 180px;
    background-color: #fff;
    border-radius: 8px 0 8px 8px;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
    position: absolute;
    top: 36px;
    left: -816px;
    display: none;
}
.navigation .home{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 30px;
    left: 44px;
}
.home .yuan{
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-left: 10px;
    
}
.yuan span{
    display: block;
    font-size: 30px;
    margin-left: 10px;
    padding-top: 5px;

}
.yuan a{
    color: #777;
}
.yuan a:hover{
    color: red;
}
.home .channel{
   width: 140px;
   height: 70px;

   position: absolute;
   top: 0px;
   left: 90px;
}
.channel h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.channel .f1{
    width: 70px;
    height: 20px;
    float: left;
    line-height: 20px;
}
.channel .f1 a{
    color: #777;
}
.channel .f1 a:hover{
    color: red;
}
.home .product{
    width: 140px;
    height: 150px;
  
    position: absolute;
    top: 0;
    left: 270px;
}
.product h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.product  .f1{
    width: 70px;
    height: 20px;
    float: left;
    line-height: 20px;
    
}
.product  .f1 a{
    color: #777;
}
.product  .f1 a:hover{
    color: red;
}
.home .appreciation{
    width: 150px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 436px;
    

}
.appreciation h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.appreciation  .f1{
    width: 75px;
    height: 20px;
    float: left;
    line-height: 20px;
}
.appreciation  .f1 a{
    color: #777;
}
.appreciation  .f1 a:hover{
    color: red;
}
.home .member {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 594px;

}
.member  h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.member  .f1{
    width: 75px;
    height: 20px;
    float: left;
    line-height: 20px;
}
.member  .f1 a{
    color: #777;
}
.member  .f1 a:hover{
    color: red;
}
.layout_r li:nth-child(5):hover {
    background-color: #fff;
}
/* .layout_r li:nth-child(5):hover a{
    color: red;
} */
.layout_r li:nth-child(5):hover .glyphicon{
    transform: rotateZ(180deg);
}
.layout_r li:nth-child(5):hover .navigation{
    display: block;
}
.layout_r li:nth-child(6){
    position: relative;
}
.layout_r li:nth-child(6) .cellphone{
    width: 240px;
    height: 365px;
    position: absolute;
    top: 36px;
    left: -170px;
    background-color: #fff;
    border-radius: 8px 0 8px 8px;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
    display: none;
}
.cellphone .APP{
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #ccc;
    position: relative;
}
.APP img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.cellphone .shopping{
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #ccc;
    position: relative;
}
.shopping img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.cellphone  .weixin{
    width: 100%;
    height: 120px;
    position: relative;
}
.weixin img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.layout_r li:nth-child(6):hover{
    background-color: #fff;
}

.layout_r li:nth-child(6) a:hover{
    color: red;
}
.layout_r li:nth-child(6):hover .glyphicon{
    transform: rotateZ(180deg);
}
.layout_r li:nth-child(6):hover .cellphone{
    display: block;
}
.layout_r li:nth-child(7) .trolley{
    width: 465px;
    height: 200px;
    position: absolute;
    top: 36px;
    left: -357px;
    background-color: #fff;
    border-radius: 8px 0 8px 8px;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
    display: none;
}
.trolley img{
    margin: auto;
    margin-top: 35px;
}
.trolley p{
    color: #777;
    margin-left: 150px;
}
.layout_r li:nth-child(7):hover .trolley{
    display: block;
}
.layout_r li:nth-child(7):hover span{
    color: red;
}
.layout_r li:nth-child(7):hover a{
    color: red;
}
/*华为商城的代码*/
.HuaWei{
    min-width: 1200px;
    height: 74px;
    background: #fff;
    position: relative;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    line-height: 1.5;
    box-shadow: 0 0 46px rgba(0,0,0,0.03)
}
.VMALL{
    width: 1200px;
    height: 41px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom:  0;
    margin: auto;
    

}
.VMALL_l{
    width: 748px;
    height: 100%;
    float: left;
    
}
.logo{
    width: 205px;
    height: 100%;
    margin-right: 34px;
    position: relative;
    z-index: 1;
    float: left;
}
.naver{
   width: 509px;
   height: 40px;
    float: left;
    max-width: 533px;
    overflow: hidden;
   

}
.list{
    width: 100%;
    height: 100%;

}
.list li{
    width: 20%;
    height: 100%;
    float: left;
}
.list li img{
    width: 74px;
    height: 24px;
    margin-top: 8px;
}
.list li a{
    display: block;
    margin-top: 8px;
}
.VMALL_r{
    width: 240px;
    height: 30px;
    float: right;
    margin-top: 5px;
    background: #fff;
    border-radius: 16px 16px;
}
.bar{
    line-height: 1;
    width: 238px;
    height: 28px;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    position: relative;
    z-index: 310;
}
.bar .text{
    width: 205px;
    height: 30px;
    border: 0;
    color: #3a3a3a;
    width: 205px;
    text-indent: 15px;
    height: 30px;
    line-height: 30px;
    background: transparent;
    float: left;
    
}

.bar .btn{
    width: 30px;
    height: 30px;
    float: right;
   border-radius: 5px 5px;
    position: relative;
}
.btn span{
    position: absolute;
    top: 3px;
    left: 5px;
    font-weight: bolder;
}
.carousel {
    width: 100%;
    height: 550px;
   
}
.classify{
    width: 200px;
    height: 440px;
    position: absolute;
    left: 356px;
    top: 130px;
    z-index: 9999999;
    
}
.classify .slab {
    width: 200px;
    height: 440px;
    z-index: 9999999;
    position: relative;    
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    background: #ccc;
    /* opacity: 0.7; */
    border-radius: 10px;
    display: table;
    cursor: pointer;
}
.slab li{
    width: 100%;
    height: 44px;
    float: left;
    position: relative;
}
.slab li:hover{
    background-color: hsl(0, 0%, 100%);
}
.slab li .slab_list{
    width: 175px;
    height: 24px;
   
    margin: auto;
    margin-top: 10px;
}
.slab_list a{
    float: left;
    font-size: 16px;
}
.slab_list  .glyphicon{
    float: right;
}
.slab_list a:hover{
color: red;

}
.slab li:nth-child(1) .series1{
    width: 520px;
    height: 440px;
    position: absolute;
    z-index: 999999;
    top: 0px;
    left: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    display: none;
}
.slab li:nth-child(1):hover .series1{
    display: block;
}
.series1-N1{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;

    margin: 16px 10px 10px 41px;
}
.series1-N1 .N1-AA{
    width: 100%;
    height: 56px;
  
    margin-bottom: 30px;
    border-radius: 10px;
}
.N1-AA img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.N1-AA a{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}
.N1-AA:hover {
    background: #ccc;
}
.series1-N2{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    
    margin-top: 16px;
    margin-left: 40px;
}
.series1-N2 .N2-BB{
    width: 100%;
    height: 56px;
   
    margin-bottom: 30px;
    border-radius: 10px;
}
.N2-BB img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.N2-BB a{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}
.N2-BB:hover {
    background: #ccc;
}
.N2-BB:last-child .N2-BB-list{
    width: 70%;
    height: 100%;
    border-radius: 28px;
    border: 1px solid #ccc;
}
.BB-list-str{
    width: 40%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: relative;
    float: left;
}
.BB-list-str span{
    display: block;
    margin-top: 17px;
    margin-left: 20px;
}
.N2-BB-list a{
float: left;
}

.slab li:nth-child(2) .notes{
    width: 520px;
    height: 440px;
    position: absolute;
    z-index: 999999;
    top: -44px;
    left: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    display: none;
}
.slab li:nth-child(2):hover .notes{
    display: block;
}
.notes-not{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
    
}
.notes-not-nice{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
    
}
.notes-not-nice img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.notes-not-nice a{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}
.notes-not .notes-not-nice:hover{
    background-color: #ccc;
}
.notes-num{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;   
    margin-top: 16px;
    margin-left: 40px;
  
}
.notes-num-test{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
 
}
.notes-num-test img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.notes-num-test a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.notes-num .notes-num-test:hover{
    background-color: #ccc;
}
.num-test-cony{
    width: 70%;
    height: 100%;
    border-radius: 28px;
    border: 1px solid #ccc;
}
.num-test-cony-yy{
    width: 40%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: relative;
    float: left;
}
.num-test-cony-yy span{
    display: block;
    margin-top: 17px;
    margin-left: 20px;
}  

.slab li:nth-child(3) .platform{
    width: 520px;
    height: 440px;
    position: absolute;
    z-index: 999999;
    top: -87px;
    left: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    display: none;
}
.slab li:nth-child(3):hover .platform{
    display: block;
}
.platform-rot{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
   
}
.platform-rot-obj{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
    
}
.platform-rot-obj img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.platform-rot-obj a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.platform-rot-obj:hover{
    background: #ccc;
}
.platform-out{
    width: 120px;
    height: 46px;
    border-radius: 20px;
    border: 1px solid #ccc;
    float: left;
    margin-top: 16px;
    margin-left: 41px;
  
}
.platform-out-yuan{
    width: 35%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 50%;
    float: left;
}
.platform-out-yuan span{
    display: block;
    margin-top: 12px;
    margin-left: 12px;
}
.platform-out-yuan a{
    display: block;
    float: left;
    width: 60px;
    margin-left: 47px;
    margin-top: -15px;
    
}
.slab li:nth-child(4) .noopsyche{
    width: 520px;
    height: 440px;
    position: absolute;
    z-index: 999999;
    top: -130px;
    left: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    display: none;
}
.slab li:nth-child(4):hover .noopsyche{
    display: block;
}
.noopsyche-VR{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
   
}
.noopsyche-VR-master{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
}
.noopsyche-VR-master img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.noopsyche-VR-master a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.noopsyche-VR-master:hover{
    background-color: #ccc;
}
.examine{
    width: 120px;
    height: 36px;
    float: left;
    border: 1px solid #ccc;
    margin-top: 16px;
    margin-left: 30px;
    border-radius: 20px;
}
.examine-left{
    width: 35%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
    float: left;
}
.examine-left span{
    margin-top: 8px;
    margin-left: 13px;
}
.examine-left a{
    display: block;
    float: left;
    width: 60px;
    margin-left: 50px;
    margin-top: -23px;
}
.slab li:nth-child(5) .decoration{
    width: 520px;
    height: 440px;
    position: absolute;
    z-index: 999999;
    top: -175px;
    left: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    display: none;
}
.slab li:nth-child(5):hover .decoration{
    display: block;
}
.decoration-pant{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
  
}
.decoration-pant-tad{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
    
}
.decoration-pant-tad img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.decoration-pant-tad a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;

}
.decoration-pant-tad:hover{
    background: #ccc;
}
.decoration-open{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
 
}
.decoration-open-yun{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
   
}
.decoration-open-yun img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.decoration-open-yun a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.decoration-open-yun:hover{
    background: #ccc;
}
.decoration-open-cha{
    width: 120px;
    height: 36px;
    float: left;
    border: 1px solid #ccc;
    margin-top: 16px;
    border-radius: 20px;
  
}
.open-cha-btn{
    width: 35%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
    float: left;
}
.open-cha-btn span{
    margin-top: 8px;
    margin-left: 13px;
}
.decoration-open-cha a{
    display: block;
    float: left;
    width: 60px;
    margin-left: 50px;
    margin-top: -28px;
}

.slab li:nth-child(6) .wisdom{
    width: 270px;
    height: 440px;
    position: absolute;
    z-index: 999999;
    top: -220px;
    left: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    display: none;
}
.slab li:nth-child(6):hover .wisdom{
    display: block;
}
.wisdom-smart{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
   
}
.wisdom-smart-attr{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
   
}
.wisdom-smart-attr img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.wisdom-smart-attr a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;

}
.wisdom-smart-attr:hover{
    background: #ccc;
}
.wisdom-smart-cha{
    width: 120px;
    height: 36px;
    float: left;
    border: 1px solid #ccc;
    margin-top: 16px;
    border-radius: 20px;
}
.wisdom-smart-lisy{
    width: 35%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
    float: left;
}
.wisdom-smart-lisy span{
    margin-top: 8px;
    margin-left: 13px;
}
.wisdom-smart-cha a{
    display: block;
    float: left;
    width: 60px;
    margin-left: 50px;
    margin-top: -28px;
}
.slab li:nth-child(7) .loudspeaker{
    width: 520px;
    height: 440px;
    position: absolute;
    z-index: 999999;
    top: -262px;
    left: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    display: none;
}
.slab li:nth-child(7):hover .loudspeaker{
    display: block;
}
.loudspeaker-pist{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
    
}
.loudspeaker-pist-dd{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
    
}
.loudspeaker-pist-dd img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.loudspeaker-pist-dd a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.loudspeaker-pist-dd:hover{
    background-color: #ccc;
}
.loudspeaker-pisted{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
   
}
.loudspeaker-pisted-list{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
  
}
.loudspeaker-pisted-list img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.loudspeaker-pisted-list a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.loudspeaker-pisted-list:hover{
    background-color: #ccc;
}
.loudspeaker-pisted-cha{
    width: 120px;
    height: 36px;
    float: left;
    border: 1px solid #ccc;
    margin-top: 16px;
    border-radius: 20px;
}
.pisted-cha-ak{
    width: 35%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
    float: left;
}
.pisted-cha-ak span{
    margin-top: 8px;
    margin-left: 13px;
}
.loudspeaker-pisted-cha a{
    display: block;
    float: left;
    width: 60px;
    margin-left: 50px;
    margin-top: -28px;
}
.slab li:nth-child(8) .accessories{
    width: 750px;
    height: 440px;
    position: absolute;
    z-index: 999999;
    top: -307px;
    left: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    display: none;
}
.slab li:nth-child(8):hover .accessories{
    display: block;
}
.accessories-left{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
  
}
.accessories-left-admin{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
}
.accessories-left-admin img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.accessories-left-admin  a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.accessories-left-admin:hover{
    background-color: #ccc;
}
.accessories-center{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
   
}
.accessories-center-list{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
}
.accessories-center-list  img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.accessories-center-list  a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.accessories-center-list:hover{
    background: #ccc;
}
.accessories-right{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 38px;
    
}
.accessories-right-list{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
}

.accessories-right-list  img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.accessories-right-list  a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.accessories-right-list:hover{
    background: #ccc;
}
.accessories-right-cha{
    width: 120px;
    height: 36px;
    float: left;
    border: 1px solid #ccc;
    margin-top: 16px;
    border-radius: 20px;
}
.right-cha-mat{
    width: 35%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
    float: left;
}

.right-cha-mat span{
    margin-top: 8px;
    margin-left: 13px;
}
.accessories-right-cha a{
    display: block;
    float: left;
    width: 60px;
    margin-left: 50px;
    margin-top: -28px;
}
.slab li:nth-child(9) .environment{
    width: 750px;
    height: 440px;
    position: absolute;
    z-index: 999999;
    top: -352px;
    left: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    display: none;
}
.slab li:nth-child(9):hover .environment{
    display: block;
}
.environment-left{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
    
}
.environment-left-nav{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
}
.environment-left-nav img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}

.environment-left-nav a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.environment-left-nav:hover{
    background-color: #ccc;
}
.environment-center{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;

}
.environment-center-list {
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
}
.environment-center-list img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}

.environment-center-list a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.environment-center-list:hover{
    background-color: #ccc;
}
.environment-right{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 38px;
   
}
.environment-right-ant{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;

}
.environment-right-ant img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;

}
.environment-right-ant a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.environment-right-ant:hover{
    background-color: #ccc;
}
.environment-right-cha{
    width: 120px;
    height: 36px;
    float: left;
    border: 1px solid #ccc;
    margin-top: 16px;
    border-radius: 20px;
}
.right-cha-test{
    width: 35%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
    float: left;
}


.right-cha-test span{

    margin-top: 8px;
    margin-left: 13px;
}
.environment-right-cha a{
    display: block;
    float: left;
    width: 60px;
    margin-left: 50px;
    margin-top: -28px;
}

.slab li:nth-child(10)  .services{
    width: 520px;
    height: 440px;
    position: absolute;
    z-index: 999999;
    top: -394px;
    left: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    display: none;
}
.slab li:nth-child(10):hover  .services{
    display: block;
}
.services-left{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
   
}
.services-left-cart{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
}
.services-left-cart img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.services-left-cart a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.services-left-cart:hover{
    background-color: #ccc;
}
.services-right{
    width: 200px;
    height: 400px;
    z-index: 999999;
    float: left;
    margin: 16px 10px 10px 41px;
   
}
.services-right-but{
    width: 100%;
    height: 56px; 
    margin-bottom: 30px;
    border-radius: 10px;
}
.services-right-but img{
    width: 40px;
    height: 50px;
    padding-top: 6px;
    padding-left: 5px;
    float: left;
}
.services-right-but a{
    float: left;
    margin-top: 20px;
    margin-left: 2px;
}
.services-right-but:hover{
    background-color: #ccc;
}
.services-right-cha{
    width: 120px;
    height: 36px;
    float: left;
    border: 1px solid #ccc;
    margin-top: 16px;
    border-radius: 20px;
}
.right-cha-MMM{
    width: 35%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
    float: left;
}
.right-cha-MMM span{
    margin-top: 8px;
    margin-left: 13px;
}

.services-right-cha a{
    display: block;
    float: left;
    width: 60px;
    margin-left: 50px;
    margin-top: -28px;
}

















